[file_paths]
time_entries_tsv=%(output_base)s/ogi_data.tsv
projects_tsv=%(output_base)s/projects.tsv
categories_tsv=%(output_base)s/categories.tsv
sql_path=%(output_base)s/ogi_data.sqlite
output_base=/path/to/ogi/data

[settings]
default_log_type=block
block_duration=40
project_mandatory=True
category_mandatory=True
work_type_mandatory=True
message_mandatory=True
